<?xml version="1.0"?>
<launch>
    <arg name="veh" default="ASV"/>
    <arg name="txt_name" default="gazebo.txt"/>
    <arg name="cycle" default="True"/>
    <arg name="gui" default="True"/>
    <arg name="gazebo" default="false"/>
    <arg name="lookahead" default="2.5"/>

    <group ns="$(arg veh)">
        <remap unless="$(arg gazebo)"  from="imu/data" to="/mavros/imu/data"/>
        <remap if="$(arg gazebo)" from="imu/data" to="/imu/data"/>
        <node pkg="navigation" type="get_goals_txt.py" name="get_goals_txt" output="screen" >
            <param name="cycle" value="$(arg cycle)"/>
            <param name="txt_name" value="$(arg txt_name)"/>
            <param name="gui" value="$(arg gui)"/>
        </node>
        <node pkg="navigation" type="navigation.py" name="navigation" output="screen" >
            <param name="cycle" value="$(arg cycle)"/>
            <param name="gazebo" value="$(arg gazebo)"/>
            <!--param name="lookahead" value="$(arg lookahead)"/-->
        </node>
    </group>

</launch>
