<?xml version="1.0"?>
<launch>
    <arg name="veh" default="ASV"/>

    <group ns="$(arg veh)">
    	<remap from="get_goals_rviz/odometry" to="localization_gps_imu/odometry"/>
    	<remap from="navigation/odometry" to="localization_gps_imu/odometry"/>
        <node pkg="navigation" type="get_goals_rviz.py" name="get_goals_rviz" output="screen" >
        </node>
        <node pkg="navigation" type="navigation.py" name="navigation" output="screen" >
        </node>
    </group>

</launch>