<?xml version="1.0"?>
<!--
  Used for visualising rplidar in action.  
  
  It requires rplidar.launch.
 -->
<launch>
	<arg name="serial_port" default="/dev/ttyUSB0"/>
	<include file="$(find rplidar_ros)/launch/rplidar.launch">
		<arg name="serial_port" value="$(arg serial_port)"/>
	</include>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find rplidar_ros)/rviz/rplidar.rviz" />
</launch>
