<?xml version="1.0"?>
<launch>
    <arg name="veh" default="ASV"/> 
	<arg name="latitude" default="21.30996"/>
    <arg name="longitude" default="-157.8901"/>
    <arg name="gps_duplicate" default="false"/>
    <arg name="imu_rotate" default='0' />

    <group ns="$(arg veh)">
        <remap from="fix" to="/gps"/>
        <remap from="imu/data" to="/imu/data"/>
        <node unless="$(arg gps_duplicate)" pkg="localization" type="localization_gps_imu.py" name="localization_gps_imu" respawn="false" output="screen">
            <param name="latitude" value="$(arg latitude)"/>
            <param name="longitude" value="$(arg longitude)"/>
            <param name="imu_rotate" value="$(arg imu_rotate)" />
        </node>
        <node if="$(arg gps_duplicate)" pkg="localization" type="localization_gps_imu_gps_duplicate.py" name="localization_gps_imu" respawn="false" output="screen">
            <param name="latitude" value="$(arg latitude)"/>
            <param name="longitude" value="$(arg longitude)"/>
        </node>
    </group>
</launch>